<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Reddit </title>
</head>
<body>
   <nav>
     <div class="logo"><img src="/img/logo.png" alt="logo"></div>
     <form> <input type="search" placeholder="Search" id="search"></form>
      <div class="auth">
        
        <a href="/signup" id="signup">Sing Up</a>
        <a href="/login" id="login">Log In</a>
      </div>
   </nav>

   <main>
     <div class="container">
       <section class="trending-to-day">
        <span>Trending today</span>

          <div class="trending">
            <div class="trending-box">
              <div class="trend-Img"><img src="/img/will smith.jpg" alt=""></div>
              <div class="trend-body">
             <h2 class="title-trend">will Smith</h2>
             <p class="body-trend">will Smith, Chris Rock conhgdjk....</p>
             <a href="">r/news and more</a>
              </div>
            </div>
  
            <div class="trending-box">
              <div class="trend-Img"><img src="/img/will smith.jpg" alt=""></div>
              <div class="trend-body">
             <h2 class="title-trend">will Smith</h2>
             <p class="body-trend">will Smith, Chris Rock conhgdjk....</p>
             <a href="">r/news and more</a>
              </div>
            </div>
  
            <div class="trending-box">
              <div class="trend-Img"><img src="/img/will smith.jpg" alt=""></div>
              <div class="trend-body">
             <h2 class="title-trend">will Smith</h2>
             <p class="body-trend">will Smith, Chris Rock conhgdjk....</p>
             <a href="">r/news and more</a>
              </div>
            </div>
            <div class="trending-box">
              <div class="trend-Img"><img src="/img/will smith.jpg" alt=""></div>
              <div class="trend-body">
             <h2 class="title-trend">will Smith</h2>
             <p class="body-trend">will Smith, Chris Rock conhgdjk....</p>
             <a href="">r/news and more</a>
              </div>
            </div>
            
            </div>
          </section>

         <section class="popular-posts">
           
           <div class="popular-post">
            <span>Popular-posts</span>
    
              <div class="post">
              <span class="category"> news </span>
              <a href="/signup" class="join"> join </a>
              <p class="post">Will Smith just slapped Chris Rock at the Oscars</p>
            </div>
            <div class="post">
              <span class="category"> news </span>
              <a href="/signup" class="join"> join </a>
              <p class="post">Will Smith just slapped Chris Rock at the Oscars</p>
            </div>
           </div>

           
           <div class="communities">
              <div class="title">
                <h2> Top Sports Communities</h2>
              </div>
              <div class="group-community">
                <span>1</span>
                <p>r/formula1</p>
                <a href="/signup" class="join"> join </a>
              </div>
              <div class="group-community">
                <span>1</span>
                <p>r/formula1</p>
                <a href="/signup" class="join"> join </a>
              </div>
              <div class="group-community">
                <span>1</span>
                <p>r/formula1</p>
                <a href="/signup" class="join"> join </a>
              </div>
              <div class="group-community">
                <span>1</span>
                <p>r/formula1</p>
                <a href="/signup" class="join"> join </a>
              </div>
    
           </div>

         </section>
        </div>
      
    
     </div>
   </main>
  
</body>
</html>